<app-navbar></app-navbar>

<div style="padding: 20px;">
  <h1>คะแนนปัจจุบัน: {{count()}}</h1>
  <button (click)="increase()" [disabled]="count() === 10">+ กดเพิ่มคะแนน</button>
  <button (click)="decrease()" [disabled]="count() === 0">- กดลบคะแนน</button>
  <br><br>
  @if (count() < 0) { <h3 style="color: red;">
    ⚠️ เตือน: สต็อกติดลบไม่ได้นะครับ!
    </h3>
    }

    @if (count() >= 10) {
    <h3 style="color: green;">
      เต็มแม็กซ์แล้วจ้า!
    </h3>
    }

    <hr>
    
    <app-product-list></app-product-list>

</div>