<h2>📦 รายการสินค้าในสต็อก</h2>
<input #productInput placeholder="กรอกชื่อสินค้า..." />
<button (click)="productService.addProduct(productInput.value); productInput.value = '' ">
	💾 บันทึก
</button>
<ul>
	@for (item of productService.products(); track item.id) {
	<li>
		<div class="img-container">
			<img [src]="item.image" [alt]="item.name" class="product-img" loading="lazy">
		</div>

		<div class="info-container">
			<span class="product-name">{{ item.name }}</span>
			<div class="product-price">
				<span style="color: green; font-weight: bold; margin-left: 10px;">฿{{ item.price }}</span>
				@if (!item.inStock) {
				<span style="color: red; margin-left: 10px;">(หมด)</span>
				}
			</div>
		</div>

		<button (click)="productService.addToCart(item)" class="cart-btn">ใส่ตะกร้า🛒</button>

		<button (click)="productService.removeProduct(item.id)" class="delete-btn">ลบ</button>
	</li>
	}
</ul>
<hr>
<h3 style="text-align: right;">
	มูลค่ารวมในสต็อก:
	<span style="color: blue; font-size: 1.5rem;">฿ {{ productService.totalPrice() }}</span>
</h3>